html {
    height: 100%;
    padding: 100px 0;
}

body {
    margin: 0;
    height: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6 );
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    
}

.wrap {
    position: relative;
    height: 100%;
    
}

.content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
	padding:100px;
    border-style: 3px solid;
    background-color: white;
}

h1{
	
	position : relative;
	top:-40px;
	
}

 h1:after {
        content: "";
        display: block;
        width: 50px;
        border-bottom: 3px solid ;
        border-color: #288CD2;
        margin: 5px 0px;
 }


h2 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
    padding: 1rem 0.5rem;
	border-left: 1px solid #009688;
	

}


#emailSelect{
	position: relative;
	left:280px;
	
}












